@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="container align-content-center">
    <div class="row row-cols-2">
        <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Cantidad de clientes</p>
                    <a href="#" class="btn btn-primary">ir a pestaña clientes</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">Cantidad de usuarios</p>
                    <a href="#" class="btn btn-primary">Ir a pestaña usuarios</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">Cantidad de productos</p>
                    <a href="#" class="btn btn-primary">Ir a pestaña productos</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">Cantidad de pedidos</p>
                    <a href="#" class="btn btn-primary">Ir a pestaña pedidos</a>
                </div>
            </div>
        </div>
    </div>
</div>